<h1 class="title"> Tasks <h1>

<section class="section">
    <div class="container">
        <% @tasks.each do |task| %>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4"> <%= link_to task.title, task %> </p>
                        </div>
                    </div>
                <div class="description">
                    <%= task.description %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</section>